/* === Base Sidebar Styling === */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: "#F9F9F6"; /* COLOR_SIDEBAR_BG */
   box-shadow: 5px 0 20px rgba(0, 0, 0, 0.08); /* ظل خفيف من اليمين */
  color: #070707;       /* COLOR_TEXT */
  padding: 12px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 1000;
  transition: width 0.3s ease-in-out;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}
.sidebar-link:hover {
  transform: translateX(4px);  /* انزياح بسيط لليمين */
  background: #dfe9cc;         /* لون hover */
}

/* === Toggle Button Section === */
.sidebar-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  padding-top: 4px;
}

/* === Logo Section === */
.sidebar-logo {
  margin-bottom: 32px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: #E9DCAA; /* COLOR_HIGHLIGHT */
  font-family: 'Quicksand', sans-serif;
}

/* === Profile Card Section === */
.sidebar-card {
  align-self: center;
  width: 85%;
  display: flex;
  align-items: center;
  gap: 14px;
  background: #CCE3C0; /* COLOR_CARD_BG */
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 36px;
}

.sidebar-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.sidebar-hello {
  font-size: 15px;
  font-weight: 500;
}

/* === Navigation Links === */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sidebar-link {
  width: 85%;
  height: 48px;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.15s;
  background: #CCE3C0;
  color: #3B3B3B;
}
.sidebar-link.active {
  background: #E9DCAA; /* أو أي لون مميز */
  color: #000; /* تباين اللون */
  transform: scale(1.02); /* تكبير بسيط */
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* === Logout Button === */
.sidebar-logout {
  border: none;
  cursor: pointer;
  background: #E9DCAA;
  color: #5C4634;
}@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
  }

  .sidebar.open {
    width: 250px;
    padding: 12px;
  }


  /* ✅ هاي تخليهم يظهروا لما السايدبار مفتوحة */
  .sidebar.open .sidebar-logout,
  .sidebar.open .sidebar-card,
  .sidebar.open .sidebar-logo,
  .sidebar.open .sidebar-hello,
  .sidebar.open .sidebar-nav {
    display: flex;
    flex-direction: column;
  }

  .sidebar.open .sidebar-nav {
    gap: 18px;
  }
}
